<div>
    <div class="image-wrap">
        <a style="opacity:0" href="{% url 'boardapp:detail' pk=post.pk%}"
           class="item-overlay w-inline-block">
            <div class="button-small white-small">
                <div>View Category</div>
            </div>
        </a>
        <div class="home-item-wrap">
            <div class="div-block-6 blue">
                <h1 class="heading">{{post.summary_preview_title}}</h1>
                <div class="text-block-10">{{post.summary_preview_content}}</div>
                <div class="text-block-11">{{post.created_at}}</div>
            </div>
        </div>
    </div>
</div>
